* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arsenal', sans-serif;
    color: #f5ede5;
}

body{
    background-color: #f5ede5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* text-shadow: 0 0 5px black; */
}

nav{
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    height: 125px;
    border: black 1px solid;
    width: 100vw;
}

.navli {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #f5ede5;
    /* margin-right: -100px; */
}

.nav-buttons:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #464a4a;
    background-color: rgba(245, 227, 173, 0.812);
    transition: all .4s ease;
    font-size: 1.1em;
}


.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    padding-left: 50px;
    color: #f5ede5;
}

#mainlogo {
    text-decoration: none;
}

#top {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#bottom {
    font-size: 20px;
    margin-top: 0px;
    text-align: right;
    font-family: 'Arsenal', sans-serif;
}

#navbar {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    /* gap: 10%; */
    font-size: 20px;
    /* padding-right: 50px; */
    padding-right: -50px;
}

.areas {
    width: 90vw;
    border: black 1px solid;
}

#one {
    background-image: url("Images/boba.png");
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    margin-top: 4%;
}

#two {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#minneapolispng {
    width: 87.5%;
    margin: 50px 10px;
    border: black 1px solid;

}

#minneapolis {
    display: flex;
    width: 100em;
    justify-content: center;
    align-items: center;
}

#minneapoliscontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px 10px 0px;
}

.titles {
    font-size: 3em;
    text-align: center;
}

#three {
    background-color: #20201f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#three div {
    width: 50%;
    display: flex;
    justify-content: center;
    color: #F7F6F5;
}

#qualityTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F7F6F5;
}

#bobaQuality {
    /* width: 90%; */
    width: 87.5%;
    margin: 50px 10px;
}

#four {
    background-color: #292929;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

#four div {
    display: flex;
    justify-content: center;
}

#drinkTitle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
}

#slider {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
}

.drinkImgs {
    border: #2B2607 1px solid;
    width: 70%;
}

.drinks {
    width: 100%;
    height: 100%;
}

#five {
    background-color: #20201f;
    height: 80vh;
    display: flex;
    flex-direction: column;
    color: #F7F6F5;
}

#shopTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#shopGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, .1fr);
    overflow: hidden;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 30px;
    padding: 0 25px;
}

.shopPhoto {
    width: 100%;
    border: black 1px solid;
}

footer {
    margin-top: 4%;
    width: 100%;
    height: 125px;
    background-color: #292929;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#footerul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

#socialMedia {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons:hover {
    width: 68px;
    height: 68px;
    transition: 0.3s;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

}
